/* general style */
* { box-sizing: border-box; }

body {
  font-family: sans-serif;
  margin: 0em;
  font-size: 13px;
}

.hidden {
  position: relative;
  left: -100000px;
  top:auto;
  background-color: rgb(45,154,183);
}
.hidden:focus {
  left: 1px;
}

.all-but-footer {
  min-height: calc(100vh - 40px);
}
/* title and subtitle */

header {
  color: white;
  background-color: rgb(45,154,183);
  margin: 0em;
  margin-top: -2.5em;
}

h1 {
  font-weight: bold;
  font-size: 3em;
  text-transform: uppercase;
  padding: 1em 4em 0em 4em;
  margin-bottom: .5em;
}

h2 {
  font-weight: normal;
  font-size: 1.5em;
  font-style: italic;
  padding: 0em 8em .5em 8em;
}

/* menu */
nav {
  background-color: rgb(235,235,235);
  padding: .23em 8em .23em 8em;

}

ul {
  list-style-type: none;
}

li {
  display: inline-block;
}

nav a {
  padding: .5em;
  margin: .5em;
}

.navtext {
  color: rgb(60,60,60);
  font-weight: bold;
  font-size: .9em;
  text-decoration: none;
}

.slash {
  color: rgb(30,30,30);
  font-weight: normal;
  font-size: .9em;
}

/* main text */
section {
  padding: 0em 11.5em 0px 11.5em;
  line-height: 1.7;
  color: rgb(70,70,70);
  font-size:.9em;
}

h3 {
  text-transform: uppercase;
  font-size: 1.2em;
  margin-top: 2.3em;
  margin-bottom: -.38em;
}

h4 {
  color: rgb(45,154,183);
  font-size: 1.5em;
}

a {
  text-decoration: none;
  color: rgb(45,154,183);
}

.sidebar {
  float: right;
  width: 25em;
  padding: 1.5em 7em 3em 0em;
  line-height: 1.7em;
  margin-right: 3em;
  margin-left: 3em;
  color: rgb(70,70,70);
  font-size:.75em;
}

.sideimg {
  width: 100%;
  padding-left: 0em;
  padding-right: 0em;
  padding-top: 1.5em;
}

.pullquote {
  color: rgb(45,154,183);
  font-size: 1.5em;
  font-weight: normal;
  margin-bottom: -1.9em;
}

.byline {
  font-style: italic;
}

.top {
  padding-top: 1.9em;
}

.bottom {
  padding-bottom: 1.9em;
}

/* footer */
footer {
  background-color: rgb(58,58,58);
  width: 100%;
  box-sizing: inherit;
  color: white;
  font-size: 0.6em;
  padding: 0em 2em 2em 2em;
}


.footertext {
  color: white;
  font-weight: normal;
  font-size: 10px;
  text-decoration: none;
  padding: 1em;
}

.center{
  display: block;
  margin: auto;
  width: 40%;
}

.footerimg {
  width: 25%;
}
